# 超級大滿貫II (sdmg2) RetroArch 触控 overlay
# 29 键：系統4 + 牌鍵14 + 功能11
# 键位对应 MAME 默认：投幣=5, 開始=1, 退幣=6, 查帳=0, A-N=a-n, 吃=Q, 碰=W, 槓=R, 聽=T, 胡=Y, 押注=U, 比倍=P, 大=Z, 小=X, 海底=V, 得分=O

overlays = 1
overlay0_overlay = sdmg2_overlay.png
overlay0_full_screen = true
overlay0_descs = 29

overlay0_desc0 = "retrok_5,110,500,rect,60,27"
overlay0_desc1 = "retrok_1,260,500,rect,60,27"
overlay0_desc2 = "retrok_6,410,500,rect,60,27"
overlay0_desc3 = "retrok_0,560,500,rect,60,27"
overlay0_desc4 = "retrok_a,90,580,rect,40,27"
overlay0_desc5 = "retrok_b,180,580,rect,40,27"
overlay0_desc6 = "retrok_c,270,580,rect,40,27"
overlay0_desc7 = "retrok_d,360,580,rect,40,27"
overlay0_desc8 = "retrok_e,450,580,rect,40,27"
overlay0_desc9 = "retrok_f,540,580,rect,40,27"
overlay0_desc10 = "retrok_g,630,580,rect,40,27"
overlay0_desc11 = "retrok_h,90,660,rect,40,27"
overlay0_desc12 = "retrok_i,180,660,rect,40,27"
overlay0_desc13 = "retrok_j,270,660,rect,40,27"
overlay0_desc14 = "retrok_k,360,660,rect,40,27"
overlay0_desc15 = "retrok_l,450,660,rect,40,27"
overlay0_desc16 = "retrok_m,540,660,rect,40,27"
overlay0_desc17 = "retrok_n,630,660,rect,40,27"
overlay0_desc18 = "retrok_q,815,500,rect,65,27"
overlay0_desc19 = "retrok_w,965,500,rect,65,27"
overlay0_desc20 = "retrok_r,1115,500,rect,65,27"
overlay0_desc21 = "retrok_t,815,580,rect,65,27"
overlay0_desc22 = "retrok_y,965,580,rect,65,27"
overlay0_desc23 = "retrok_u,1115,580,rect,65,27"
overlay0_desc24 = "retrok_p,795,660,rect,50,27"
overlay0_desc25 = "retrok_z,905,660,rect,50,27"
overlay0_desc26 = "retrok_x,1015,660,rect,50,27"
overlay0_desc27 = "retrok_v,1125,660,rect,50,27"
overlay0_desc28 = "retrok_o,1225,660,rect,45,27"
